# Backend
packages/backend/build/
packages/backend/.gradle/
packages/backend/gradle/
packages/backend/gradlew
packages/backend/gradlew.bat

# Frontend
packages/frontend/node_modules/
packages/frontend/.next/
packages/frontend/out/

# Environment
.env
.env.local

# IDE
.idea/
*.iml
.vscode/
